p{
    width:100%;
    text-align:justify;
    color:white;
  }
  body{
        font-family: 'Quicksand', sans-serif;
  }
  a{
    color:white;
  }

  .container{
    width:100%;
    text-align:center;
  }